.form5{
     width: 700px;
    height: auto;
    margin-left: 200px;
    margin-top: 4px;

    box-shadow: 1px 0px 16px #dedfe2;
    background-color: #e8eaef;
     
}
#home{
    margin-top: 10px;
    height: 40px;
    width: 40px;
    
}
#search{
    margin-left: 110px;
    height: 40px;
    width: 40px;
    
    
}   
#add{
   margin-left: 130px;
    height: 40px;
    width: 40px;
     
}
#like{
    margin-left: 520px;
    height: 40px;
    width: 40px;
    margin-top:-50px;
}
#pro{
    margin-left: 650px;
    height: 40px;
    width: 40px;
    
    margin-top:-50px;
    margin-bottom: 5px;
}