.form1{
    width: 850px;
    height: auto;
    margin-left: 200px;
    padding: 2px;
    border-style:outset;
    border-width:0px 0px 3px 0px;
}
#icon{
    margin-top: -20px;
    height: 40px;
    width: 40px;
    display: inline-block;

}
#direct{
    margin-left: 810px;
    height: 40px;
    width: 40px;
    display: inline-block;
    margin-top:-50px;
}

#insta{
    margin-left: 280px;
    margin-top: -10px;
    height:50px;
    display: inline-block;
    width:140px;
}

